html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:1; }

body {
	color: #292929;
	color: rgba(0, 55, 0, 0.75);/*×ÖÌåÑÕÉ«/Í¸Ã÷¶È*/
	font: normal 100% Cambria, Georgia, serif;
	-moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-size-adjust: none;
}
header{
	text-align: center;
	padding-top: 5%;
	padding-left: 20%;
	padding-right: 20%; 
}
.title{
	font-size: 25px;
	color: rgba(55, 200, 88, 0.8);/*×ÖÌåÑÕÉ«/Í¸Ã÷¶È*/
}
.search{
  float: left;
  display: block;
  width: 100%;
  height: 50px;
  opacity:0.8; 
  font-size: 10px;
}
.container{
  margin-top: 100px;
  padding-left: 15%;
  padding-right:15%;
}
